<div class="w-100 text-center">
    <div class="btn-group p-5">
        <button class="btn btn-outline-primary" [ngClass]="{'btn-primary text-white': currentPath==='/home'}" routerLink="/home">Home</button>
        <button class="btn btn-outline-success" [ngClass]="{'btn-success text-white': currentPath==='/productList'}" routerLink="/productList">Product List</button>
        <button class="btn btn-outline-info" [ngClass]="{'btn-info text-white': currentPath==='/about'}" routerLink="/about">About</button>  
    </div>
</div>
<router-outlet></router-outlet>
